{{#link-to 'reports.overview' class="item"}}
    <i class="fa fa-home fa-fw"></i>
    <label>Overview</label>
{{/link-to}}

{{#link-to 'insights.index' class="item"}}
    <i id="bottom-navigation-insights-flag" class="fa fa-lightbulb-o fa-fw {{ insightsBadgeClass }}"></i>
    <label>Insights</label>
{{/link-to}}

{{#link-to 'accounts.list' 1 class="item"}}
    <i class="fa fa-medkit fa-fw"></i>
    <label>Accounts</label>
{{/link-to}}

{{#link-to 'balance' class="item"}}
    <i class="fa fa-bank fa-fw"></i>
    <label>Balance</label>
{{/link-to}}