<ul class="off-canvas-list">
	<li>
		<a><i class="fa fa-user fa-fw"></i> User Profile</a>
	</li>
    <li>
        {{#link-to 'logout'}}<i class="fa fa-sign-out fa-fw"></i> Sign Out{{/link-to}}
    </li>
</ul>