<div class="small-10 small-offset-1 columns text-center">
    <div class="toggle-switch">
        {{#link-to 'dashboard'}}<i class="fa fa-pie-chart"></i>{{/link-to}}

        <!--<a href="overview-filled-lineview.html"><i class="fa fa-line-chart"></i></a>-->
        <!--<a href="overview-filled-barview.html"><i class="fa fa-bar-chart"></i></a>-->
    </div>

    <canvas id="pie-chart" class="mt-15 mb" width="200" height="200"></canvas>
</div>