.reveal-modal {
	// padding: 1.2rem 1.3rem;
	border-radius: 4px;
	min-height: 10rem;
	width: 80%;
	left: 10%;
	top: 30% !important;
	> *:first-child {
		text-transform: capitalize;
	}
	&.primary {
		background-color: $base-color;
		> * {
			color: $white;
		}
	}
	.close-reveal-modal {
		font-size: 1rem;
		right: 1.375rem;
		top: 1.625rem;
	}
	.button.close-reveal-modal {
		margin-bottom: 0;
		position: relative;
		color: $white;
		top: 0;
		right: 0;
		font-weight: normal;
		line-height: normal;
	}
	.button-group {
		margin-bottom: 0;
		> li:last-child {
			margin-bottom: 0;
		}
	}
	&.ember-view {
		height: auto !important;
	}
}