.right-small {
	border-left: none;
}

.left-small {
	border-right: none;
}

.tab-bar {
	background: $base-color;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, $B-dividers);
	z-index: 3;
	h1, h2, h3, h4, h5, h6 {
		color: rgba(255, 255, 255, $W-text);
	}
	.menu-icon {
		span {
			&:after {
				box-shadow: 0 0 0 1px rgba(255, 255, 255, $W-text), 0 7px 0 1px rgba(255, 255, 255, $W-text), 0 14px 0 1px rgba(255, 255, 255, $W-text);
			}
		}
	}
	.tab-icon {
		color: rgba(255, 255, 255, $W-text);
	}
	&.blue {
		background-color: #50D2C2;
	}
	&.purple {
		background-color: #8C88FF;
	}
}

.icon-bar {
	> * i {
		font-size: 1.5rem;
		position: relative;
		color: rgba($white, $W-hinttext) !important;
		&.badge {
			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				right: 0;
				top: -3px;
				height: 0.875rem;
				width: 0.875rem;
				background-color: $alert-color;
				border-radius: 50%;
			}
		}
	}
	> * label {
		color: rgba($white, $W-hinttext) !important;
	}
	> a {
		label {
			text-transform: none;
		}
		&.active {
			background: transparent;
			opacity: 1;
			label, i {
				color: $white !important;
			}
		}
		&:hover {
			background: transparent;
		}
	}
}

.nav {
	background-color: rgba(0, 0, 0, 0.06);
}

ul.pager {
	@include clear-layout;
	width: 100%;
	padding: 0;
	li {
		display: inline-block;
		&.nav-arrow {
			width: 18%;
			a {
				display: block;
				padding: 0.9375rem 0;
				color: rgba(0, 0, 0, $B-hinttext);
			}
		}
		&.select-title {
			width: 58%;
			padding: 0.9375rem 0;
			vertical-align: top;
			> span {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}