<section>
    <div class="row">
        <div class="small-10 small-offset-1 columns">
            <div class="tall-wrapper text-center">
                <h1>Ember App</h1>

            </div>
            <ul class="stack button-group">
                <li>
                    {{#link-to 'login' class="button info round expand"}}Log In{{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</section>